---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: scheduledvolumesnapshots.cosmos.strange.love
spec:
  group: cosmos.strange.love
  names:
    kind: ScheduledVolumeSnapshot
    listKind: ScheduledVolumeSnapshotList
    plural: scheduledvolumesnapshots
    singular: scheduledvolumesnapshot
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ScheduledVolumeSnapshot is the Schema for the scheduledvolumesnapshots
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: 'ScheduledVolumeSnapshotSpec defines the desired state of
              ScheduledVolumeSnapshot Creates recurring VolumeSnapshots of a PVC managed
              by a CosmosFullNode. A VolumeSnapshot is a CRD (installed in GKE by
              default). See: https://kubernetes.io/docs/concepts/storage/volume-snapshots/
              This enables recurring, consistent backups. To prevent data corruption,
              a pod is temporarily deleted while the snapshot takes place which could
              take several minutes. Therefore, if you create a ScheduledVolumeSnapshot,
              you must use replica count >= 2 to prevent downtime. If <= 1 pod in
              a ready state, the controller will not temporarily delete the pod. The
              controller makes every effort to prevent downtime. Only 1 VolumeSnapshot
              is created at a time, so at most only 1 pod is temporarily deleted.
              Multiple, parallel VolumeSnapshots are not supported.'
            properties:
              deletePod:
                description: If true, the controller will temporarily delete the candidate
                  pod before taking a snapshot of the pod's associated PVC. This option
                  prevents writes to the PVC, ensuring the highest possible data integrity.
                  Once the snapshot is created, the pod will be restored.
                type: boolean
              fullNodeRef:
                description: Reference to the source CosmosFullNode. This field is
                  immutable. If you change the fullnode, you may encounter undefined
                  behavior. The CosmosFullNode must be in the same namespace as the
                  ScheduledVolumeSnapshot. Instead delete the ScheduledVolumeSnapshot
                  and create a new one with the correct fullNodeRef.
                properties:
                  name:
                    description: Name of the object, metadata.name
                    type: string
                  namespace:
                    description: 'DEPRECATED: CosmosFullNode must be in the same namespace
                      as the ScheduledVolumeSnapshot. This field is ignored.'
                    type: string
                  ordinal:
                    description: Index of the pod to snapshot. If not provided, will
                      do any pod in the CosmosFullNode. Useful when snapshots are
                      local to the same node as the pod, requiring snapshots across
                      multiple pods/nodes.
                    format: int32
                    type: integer
                required:
                - name
                type: object
              limit:
                description: The number of recent VolumeSnapshots to keep. Defaults
                  to 3.
                format: int32
                minimum: 1
                type: integer
              minAvailable:
                description: 'Minimum number of CosmosFullNode pods that must be ready
                  before creating a VolumeSnapshot. In the future, this field will
                  have no effect unless spec.deletePod=true. This controller gracefully
                  deletes a pod while taking a snapshot. Then recreates the pod once
                  the snapshot is complete. This way, the snapshot has the highest
                  possible data integrity. Defaults to 2. Warning: If set to 1, you
                  will experience downtime.'
                format: int32
                minimum: 1
                type: integer
              schedule:
                description: A crontab schedule using the standard as described in
                  https://en.wikipedia.org/wiki/Cron. See https://crontab.guru for
                  format. Kubernetes providers rate limit VolumeSnapshot creation.
                  Therefore, setting a crontab that's too frequent may result in rate
                  limiting errors.
                type: string
              suspend:
                description: If true, the controller will not create any VolumeSnapshots.
                  This allows you to disable creation of VolumeSnapshots without deleting
                  the ScheduledVolumeSnapshot resource. This pattern works better
                  when using tools such as Kustomzie. If a pod is temporarily deleted,
                  it will be restored.
                type: boolean
              volumeSnapshotClassName:
                description: The name of the VolumeSnapshotClass to use when creating
                  snapshots.
                type: string
            required:
            - fullNodeRef
            - schedule
            - volumeSnapshotClassName
            type: object
          status:
            description: ScheduledVolumeSnapshotStatus defines the observed state
              of ScheduledVolumeSnapshot
            properties:
              candidate:
                description: The pod/pvc pair of the CosmosFullNode from which to
                  make a VolumeSnapshot.
                properties:
                  podLabels:
                    additionalProperties:
                      type: string
                    type: object
                  podName:
                    type: string
                  pvcName:
                    type: string
                required:
                - podName
                - pvcName
                type: object
              createdAt:
                description: The date when the CRD was created. Used as a reference
                  when calculating the next time to create a snapshot.
                format: date-time
                type: string
              lastSnapshot:
                description: The most recent volume snapshot created by the controller.
                properties:
                  name:
                    description: The name of the created VolumeSnapshot.
                    type: string
                  startedAt:
                    description: The time the controller created the VolumeSnapshot.
                    format: date-time
                    type: string
                  status:
                    description: The last VolumeSnapshot's status
                    properties:
                      boundVolumeSnapshotContentName:
                        description: 'boundVolumeSnapshotContentName is the name of
                          the VolumeSnapshotContent object to which this VolumeSnapshot
                          object intends to bind to. If not specified, it indicates
                          that the VolumeSnapshot object has not been successfully
                          bound to a VolumeSnapshotContent object yet. NOTE: To avoid
                          possible security issues, consumers must verify binding
                          between VolumeSnapshot and VolumeSnapshotContent objects
                          is successful (by validating that both VolumeSnapshot and
                          VolumeSnapshotContent point at each other) before using
                          this object.'
                        type: string
                      creationTime:
                        description: creationTime is the timestamp when the point-in-time
                          snapshot is taken by the underlying storage system. In dynamic
                          snapshot creation case, this field will be filled in by
                          the snapshot controller with the "creation_time" value returned
                          from CSI "CreateSnapshot" gRPC call. For a pre-existing
                          snapshot, this field will be filled with the "creation_time"
                          value returned from the CSI "ListSnapshots" gRPC call if
                          the driver supports it. If not specified, it may indicate
                          that the creation time of the snapshot is unknown.
                        format: date-time
                        type: string
                      error:
                        description: error is the last observed error during snapshot
                          creation, if any. This field could be helpful to upper level
                          controllers(i.e., application controller) to decide whether
                          they should continue on waiting for the snapshot to be created
                          based on the type of error reported. The snapshot controller
                          will keep retrying when an error occurs during the snapshot
                          creation. Upon success, this error field will be cleared.
                        properties:
                          message:
                            description: 'message is a string detailing the encountered
                              error during snapshot creation if specified. NOTE: message
                              may be logged, and it should not contain sensitive information.'
                            type: string
                          time:
                            description: time is the timestamp when the error was
                              encountered.
                            format: date-time
                            type: string
                        type: object
                      readyToUse:
                        description: readyToUse indicates if the snapshot is ready
                          to be used to restore a volume. In dynamic snapshot creation
                          case, this field will be filled in by the snapshot controller
                          with the "ready_to_use" value returned from CSI "CreateSnapshot"
                          gRPC call. For a pre-existing snapshot, this field will
                          be filled with the "ready_to_use" value returned from the
                          CSI "ListSnapshots" gRPC call if the driver supports it,
                          otherwise, this field will be set to "True". If not specified,
                          it means the readiness of a snapshot is unknown.
                        type: boolean
                      restoreSize:
                        anyOf:
                        - type: integer
                        - type: string
                        description: restoreSize represents the minimum size of volume
                          required to create a volume from this snapshot. In dynamic
                          snapshot creation case, this field will be filled in by
                          the snapshot controller with the "size_bytes" value returned
                          from CSI "CreateSnapshot" gRPC call. For a pre-existing
                          snapshot, this field will be filled with the "size_bytes"
                          value returned from the CSI "ListSnapshots" gRPC call if
                          the driver supports it. When restoring a volume from this
                          snapshot, the size of the volume MUST NOT be smaller than
                          the restoreSize if it is specified, otherwise the restoration
                          will fail. If not specified, it indicates that the size
                          is unknown.
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                    type: object
                required:
                - name
                - startedAt
                type: object
              observedGeneration:
                description: The most recent generation observed by the controller.
                format: int64
                type: integer
              phase:
                description: The phase of the controller.
                type: string
              status:
                description: A generic message for the user. May contain errors.
                type: string
            required:
            - createdAt
            - observedGeneration
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
